<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ycchew's blog site</title>
</head>
<body>
    <div>
        <h1><a href="/">Ycchew Blog</a></h1>
    </div>

    <div>
        <p>pulished: 05/01/2020, 2:07 PM</p>
        <h2><a href="">My first post</a></h2>
        <p> testing first post message</p>
    </div>

    <div>
        <p>pulished: 05/01/2020, 2:07 PM</p>
        <h2><a href="">My second post</a></h2>
        <p> testing secand post message</p>
    </div>
|
</body>
</html>